.heart-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
}

.heart-back,
.heart-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.heart-back:hover,
.heart-fill:hover {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 1));
}

.heart-fill {
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.1s ease-out;
  pointer-events: none;
}

.heart-fill.grow {
  transform: scale(1);
}

.heart-button {
    background-color: transparent;
}