.tags-container {
    display: flex;
    justify-content: flex-start;
}

.joke-tag {
    padding: 5px 15px;
    border: 1px solid #689ff7;
    border-radius: 12px;
    background-color: #b1bbfb;
    margin: 4px;
}

.joke-tag:hover {
    background-color: #b1bbfbb1;;
    box-shadow: 1px 1px 10px lightgray;
}