.tags-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}

.joke-tag {
  padding: 5px 15px;
  border-radius: 12px;
  color: white;
  background-color: #01458f;
  margin: 0 1em 0.5em 0;
}

.joke-tag:hover {
  box-shadow: 1px 1px 10px lightgray;
}
