.section {
  background-color: #fff;
  flex: 1 1 70%;
  min-width: 300px;
  border-bottom-right-radius: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.joke-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  border: 1px solid #0962ad;
  border-radius: 1rem;
  margin: 16px 0 0 5px;
  align-items: flex-end;
}

.jokes-list {
  list-style: none;
}
